body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header, footer{
  background-color: grey;
  color: white;
  padding: 10px;
}

.tagging, .discovery {
  padding: 10px;
}

#result-img {
  width: 100%;
}

